:root {
  --color-primary-700: #151515;
  --color-primary-600: #575757;
  --color-primary-500: #A9A9A9;
  --color-primary-400: #D1D1D1;
  --color-primary-300: #EBEBEB;
  --color-primary-200: #F5F5F5;
  --color-primary-100: #F9F9F9;

  --color-secondary-500: #46760A;
  --color-secondary-400: #6A983C;
  --color-secondary-300: #92C064;
  --color-secondary-200: #C8DEB3;
  --color-secondary-100: #F4F8EC;

  --color-aditional-one-500: #B28A48;
  --color-aditional-one-400: #D0A866;
  --color-aditional-one-300: #ECD2A6;
  --color-aditional-one-200: #FAEDD8;
  --color-aditional-one-100: #FFF9F0;

  --color-aditional-two-500: #C7522D;
  --color-aditional-two-400: #E5704B;
  --color-aditional-two-300: #EB8D70;
  --color-aditional-two-200: #F7C6B7;
  --color-aditional-two-100: #FFF1ED;

  --color-aditional-three-500: #19B2B8;
  --color-aditional-three-400: #37D0D6;
  --color-aditional-three-300: #7CD0D3;
  --color-aditional-three-200: #B9E6E8;
  --color-aditional-three-100: #ECF6F6;
}
