<header class="store-header">
  <div class="top-toolbar">
    <div class="top-toolbar__left">
      <a href="javascript:void(0);">Chat with us</a>
      <p>+420 336 775 664</p>
      <p>info@freshnesecom.com</p>
    </div>
    <div class="top-toolbar__right">
      <a href="javascript:void(0);">Blog</a>
      <a href="javascript:void(0);">About Us</a>
      <a href="javascript:void(0);">Careers</a>
    </div>
  </div>
  <div>
    <img class="logo" src="./assets/images/logo.svg" alt="Freshnesecom">
    <div style="width: 500px;">
      <ui-search></ui-search>
    </div>
    <div class="user-cart">
      <i class="ui-icon actions-user user-cart__item"></i>
      <div class="cart user-cart__item">
        <i class="ui-icon ecommerce-basket"></i>
        <div class="cart__count">4</div>
      </div>
    </div>
  </div>
  <ui-menu [menuList]="menuList"></ui-menu>
</header>
<main class="store-main">
  <router-outlet></router-outlet>
</main>
<footer class="store-footer">
  <ui-list *ngFor="let menu of menuFooter" [list]="menu"></ui-list>
  <div class="product-tags">
    <h2 class="product-tags__title">Product Tags</h2>
    <ui-tag *ngFor="let tag of productTags" [type]="'default'">{{ tag }}</ui-tag>
  </div>
  <p class="copyright">Copyright © 2020 petrbilek.com</p>
</footer>
