<p>apps\store\src\app\modules\home\pages\home.component.html</p>
<div style="display: flex; gap: 16px; margin: 16px 0;">
  <ui-button-stroke [size]="'small'">Buy now</ui-button-stroke>
  <ui-button-bright [size]="'small'">Buy now</ui-button-bright>
  <ui-button-colored [size]="'small'">Buy now</ui-button-colored>
  <ui-button-simple [size]="'small'">Buy now</ui-button-simple>
</div>

<div style="display: flex; gap: 16px;">
  <ui-tag>Tag</ui-tag>
  <ui-tag [canDelete]="true">Tag</ui-tag>
  <ui-tag [type]="'default'">Tag</ui-tag>
  <ui-tag [type]="'default'" [canDelete]="true">Tag</ui-tag>
  <ui-tag [type]="'bordered'">Tag</ui-tag>
  <ui-tag [type]="'bordered'" [canDelete]="true">Tag</ui-tag>
</div>

<div style="margin: 16px 0;">
  <ui-menu [menuList]="[{ title: 'a', router: '/#/' }, { title: 'b', subItem: [{ title: 'c', router: '/#/' }]}]"></ui-menu>
</div>
